:root {
    --color-primary: #1f6feb; 
    --color-secondary: #21262d; 
    --color-background: #0d1117; 
    --color-foreground: #7d8590; 
    --color-border: #30363d;
    --color-link: #58a6ff;
    --color-link-hover: #79b8ff; 
  }

  body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: var(--color-background);
  }

  nav {
    background-color: var(--color-secondary);
  }

  h2 {
    color: white;
    padding-top: 40px;
  }

  p {
    color: white;
    margin: initial;
  }


.tooltip {
  position: absolute;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
  z-index: 10;
  padding: 10px;
  border-radius: 4px;
}

.container-chart-m {
  margin: auto;
  /* margin-top: 50px; */
  padding: 20px;
  border: 2px solid #0000;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 580px;
  background: rgb(15,19,25);
  background: linear-gradient(145deg, rgba(15,19,25,1) 0%, rgba(32,41,54,1) 64%, rgba(49,40,84,1) 100%)padding-box,
    linear-gradient(145deg, #9bf0ea,#8a74c4) border-box;
}

.container-chart-l {
  margin: auto;
  /* margin-top: 50px; */
  padding: 20px;
  border: 2px solid #0000;

  border-radius: 15px;
  text-align: center;
  justify-content: center;
  width: 850px;
  height: 580px;
  background: rgb(15,19,25);
  background: linear-gradient(145deg, rgba(15,19,25,1) 0%, rgba(32,41,54,1) 64%, rgba(49,40,84,1) 100%)padding-box,
    linear-gradient(145deg, #9bf0ea,#8a74c4) border-box;
}

.container-chart-xl {
  margin: auto;
  /* margin-top: 40px; */
  padding: 20px;
  border: 2px solid #0000;

  border-radius: 15px;
  text-align: center;
  justify-content: center;
  width: 1280px;
  height: 580px;
  background: rgb(15,19,25);
  background: linear-gradient(145deg, rgba(15,19,25,1) 0%, rgba(32,41,54,1) 64%, rgba(49,40,84,1) 100%)padding-box,
    linear-gradient(145deg, #9bf0ea,#8a74c4) border-box;
}

.chart-name {
  margin-top: 30px;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dis {
  text-indent: 40px;
  margin-bottom: 10px;
}